@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts.gstatic.com/s/exo2/v3/AcGVF8awL8IEDWwvNknrWw.eot"/*tpa=http://fonts.gstatic.com/s/exo2/v3/AcGVF8awL8IEDWwvNknrWw.eot*/);
}
